table {
    border-color: #434343;
    border-style: solid;
    border-width: 0 1px 1px;
    td, th {
        padding-left: 1rem;
        padding-right: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-size: 1.25rem;

        span {
            padding: 0px 0.25rem 0px 0.25rem;
        }
    }

    th {
        font-size: 1rem;
    }

    tr {
        border-bottom: rgb(27, 27, 27) 1.5px solid;
    }
}